.nava {
    color: #ffff !important;
}

a{
    color: rgb(0 161 253);
}

.navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    position: absolute;
    z-index: 99;
}

.yamm .dropdown-menu {
    background-color: transparent;
}

.logo {
    margin-top: auto;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span  {
    font-size: smaller;
}

.goog-te-gadget-simple{
    margin-left: -120px;
}

.goog-te-gadget-icon {
    width: 0px;
}

.slider {
    min-height: 600px;
    height: calc(100vh);
}

.ml-auto {
    margin-left: 20px;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item {
    width: 110%;
}


.item img {

    opacity: 1;
    transform: translate(0);
}

.btn.btn-white.btn-outline-white {
    background: transparent;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #21325E;
    border-color: #21325E;
}

.navbar-nav.navbar-right:last-child {
    color: #fff;
    background-color: #21325E;
    border-color: #21325E;
    border-radius: 5px;

}

.navbar-toggle .icon-bar {
    background-color: #21325E;
    border-color: #21325E;
}

.header-connect {
    background: #fff;
}

.header-social ul li a {
    font-size: 20px;
}

.header-call p {
    color: #21325E;
}

.list-inline {
    margin-left: -40px;
}

.lead {
    margin-bottom: 10px;
}


.search-btn,
.toggle-btn {
    background-color: skyblue;
}

.bg-success {
    background-color: #7cbd1e !important;
    border-radius: 0.25rem !important;
    letter-spacing: .2em;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-white {
    color: #fff !important;
    font-family: 'Rubik', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-size: xxx-large;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: relative;
}

.yamm .yamm-content {
    width: max-content;

}

.yamm .dropdown.yamm-fw .dropdown-menu {
    width: max-content;
    background-color: rgb(33 50 94 / 57%);
}

.nav>li>a {
    background: transparent !important;
}

.btn-wrapper {
    position: fixed;
    right: 20px;
    bottom: 35px;
    z-index: 10;
}

.navbar .yamm-content ul li a {
    width: max-content;
}

/* section-sobremi  */

.section-sobremi {
    padding: 3em 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-outline-primary {
    color: #1f3c88;
    background-color: transparent;
    background-image: none;
    border-color: #1f3c88;
}

.panel.sidebar-menu {
    padding-bottom: 0px;
}

.marcas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: opacity(0.5);
}

.svg-img {
    width: 200px;
    height: 200px;
    
}

.page-title {
    padding-top: 0px;
}

.count-item h5 {
    border-left: 2px solid #00a1fd;
    border-right: 2px solid #00a1fd;
}

/* section-testimonial */

.testimonial .item .client-face{
    top: 360px;
    margin-right: 50px;
}

.text-testimonial {
    text-align: center;
}

.testimonial .owl-theme .owl-controls .owl-page span {
    background: rgb(0 161 253);;
}

/* section-comercial */
.panel.sidebar-menu .panel-heading h3 {
    border-bottom: solid 3px #00a1fd;
}

.panel.sidebar-menu ul.tag-cloud li a {
    color: #060c1a;
}

.panel.sidebar-menu ul.tag-cloud li a:hover {
    color: #00a1fd;;
    text-decoration: none;
    

    background-color: #21325E;
    border-color: #21325E;
    border-radius: 5px;
}

code {
    color: #000000 !important;
}

.recent-property-widget ul li .property-seeker .b-1 {
    background-color: #040500;
    color: #fff;
}

.recent-property-widget ul li .property-seeker .b-2 {
    color: #040500;
    background-color:  #fff;
}

.printer-icon:hover {
    color: #21325E !important;
    border-color: #21325E !important;
}

.favorite-and-print .add-to-fav:hover, .favorite-and-print .printer-icon:hover {
    color: #21325E;
    border-color:  #21325E;
    
}


/* section-propiedad */

.s-property-title {
    color: rgb(0 161 253);
}

.property-meta {
    padding: 0px 0px;
}

.lSSlideOuter {
    margin-bottom: -40px;
}

.btn-primary {
    background-color: #000000;
    border-color: #21325E;
    color: #000000;
}

.btn-primary:hover {
    color:  rgb(0 161 253);
}

/* section-contacto */

.btn-block {
    color: #21325E;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    display: none;
}

.btn-secondary {
    background-color: #000000;
    border-color: #21325E;
    color: #21325E;
}

.btn-square, .btn-sm-square, .btn-md-square, .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.text-white {
    color: #fff !important;
}

.rounded-circle {
    border-radius: 50% !important;
}




/* section-footer  */

.logofooter{
    font-family: 'El Messiri';
}

.footer-title-line {
    background: rgb(0 161 253);
}
.social ul li a:hover i {
    color: rgb(0 161 253);
}

.footer-blog .blg-entry h6 a {
    color: #21325E;
}

.footer-blog .blg-entry h6 a:hover {
    color: rgb(0 131 255);
}

.footer-menu li {
    border-bottom: 1px solid rgb(0 171 255 / 31%);
}


.footer .subscribe {
    background-color: #000000;
    border-color: #21325E; 
    color: #000000;
}

.input-group-btn .btn {
    background-color: rgb(0, 0, 0) !important;
    color: #00a1fd;
}

.footer ul li a:hover { 
    color: #00a1fd;
}